<!DOCTYPE html>
<html>
<head>
  <title>GG's Rock Paper Scissors thing!</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
  <%= yield %>
</body>
</html>





<!-- <nav>
  <ul>
    <li><a href="/dog/PeanutButterJelly">Rules</li>
    <li><a href="/multiply/5/2">Game</a></li>  
  </ul>    
</nav> -->