<!DOCTYPE html>
<html>
<head>
  <title>GG's Rock Paper Scissors thing!</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
  <h1>Let the games begin!</h1>

  <p>Simply put two choices from 'rock', 'paper' or 'scissors' after 'play' in the address bar, seperated by a slash!</p>
  <p>You can also enter 'computer' instead of a second choice and you will be pitted against the AI!</p>
  <p>Unfortunately the maker of this site hasn't figured out how to show the computers choice, so the AI's moves will remain a mystery!</p>

  <%= yield %>

  <div id="pics">
    <h3>Who will win?</h3>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfC8nGvxbDzkLpmBJhABCQ85i9IGRZbuii5wq-e4qyLOO9fBVqpA"/>
      <img src="https://cdn.vectorstock.com/i/composite/63,99/cartoon-notebook-paper-holding-a-pencil-vector-1986399.jpg"/>
      <img src="http://i.dailymail.co.uk/i/pix/2014/07/16/article-2695004-1FB1998A00000578-560_634x926.jpg"/>
  </div>
</body>
</html>





<!-- <nav>
  <ul>
    <li><a href="/dog/PeanutButterJelly">Rules</li>
    <li><a href="/multiply/5/2">Game</a></li>  
  </ul>    
</nav> -->